<li>
    <%= link_to "#{dogkarte.training_date.strftime("%Y/%m/%d")}", dog_dogkarte_path(dogkarte.dog_id, dogkarte.id) %>
    <span><%= dogkarte.training_session %></span>
    <span><%= dogkarte.training_times %></span>
    <span><%= dogkarte.training_status %></span>
    <%= link_to "削除", dog_dogkarte_path(dogkarte.dog_id, dogkarte.id), method: :delete %>
</li>