<tr>
    <td><%= link_to dogkarte.id, dog_dogkarte_path(dogkarte.dog_id, dogkarte.id) %></td>
    <td><%= "#{dogkarte.training_date.strftime('%Y/%m/%d')}" if dogkarte.training_date? %></td>
    <td><%= dogkarte.training_session %></td>
    <td><%= dogkarte.training_times %></td>
    <td><%= dogkarte.training_status %></td>
    <td><%= link_to '削除', dog_dogkarte_path(dogkarte.dog_id, dogkarte.id), method: :delete %></td>
</tr>