<div class='col-lg-3'>
    <img src='http://placehold.jp/24/bbbcc7/706767/250x150.png?text=トレーニング画像1' class='thumbnail'>
    <%= f.label :training_image_path1, '画像登録', class: 'control-label btn btn-primary' %>
    <%= f.file_field :training_image_path1, class: 'fileInput', style: 'display:none' %>
    <%= f.hidden_field :training_image_path1_cache %>
</div>
<div class='col-lg-3'>
    <img src='http://placehold.jp/24/bbbcc7/706767/250x150.png?text=トレーニング画像2' class='thumbnail'>
    <%= f.label :training_image_path2, '画像登録', class: 'control-label btn btn-primary' %>
    <%= f.file_field :training_image_path2, class: 'fileInput', style: 'display:none' %>
    <%= f.hidden_field :training_image_path2_cache %>
</div>
<div class='col-lg-3'>
    <img src='http://placehold.jp/24/bbbcc7/706767/250x150.png?text=トレーニング画像3' class='thumbnail'>
    <%= f.label :training_image_path3, '画像登録', class: 'control-label btn btn-primary' %>
    <%= f.file_field :training_image_path3, class: 'fileInput', style: 'display:none' %>
    <%= f.hidden_field :training_image_path3_cache %>
</div>
<div class='col-lg-3'>
    <img src='http://placehold.jp/24/bbbcc7/706767/250x150.png?text=トレーニング画像4' class='thumbnail'>
    <%= f.label :training_image_path4, '画像登録', class: 'control-label btn btn-primary' %>
    <%= f.file_field :training_image_path4, class: 'fileInput', style: 'display:none' %>
    <%= f.hidden_field :training_image_path4_cache %>
</div>
