<h1>Dogkartes#new</h1>
<p>Find me in app/views/dogkartes/new.html.erb</p>
<%= form_for @dogkarte, url: dog_dogkartes_path(@dog), html: { class: 'form-horizontal' } do |f| %>
    <% if @dogkarte.errors.any? %>
        <div>
            <% @dogkarte.errors.full_messages.each do |msg| %>
              <div><%= msg %></div>
            <% end %>
        </div>
    <% end %>
    <div >
        <div class="dog-image">
            <%= image_tag @dog.dog_image_path.thumb.url %>
        </div>
        <div>
            <p>オーナー：<%= @dog.owner.owner_lastname %><%= @dog.owner.owner_firstname %></p>
            <p>名前：<%= @dog.dog_name %></p>
            <p>生年月日：
                <%= @dog.dog_birthday.strftime("%Y/%m/%d") if @dog.dog_birthday? %>
            </p>
            <p>年齢：
                <%= "#{(Date.today.try(:strftime, "%Y%m%d").to_i - @dog.dog_birthday.try(:strftime, "%Y%m%d").to_i) / 10000}歳" if @dog.dog_birthday? %>
            </p>
            <p>犬種：<%= @dog.dog_breed %></p>
        </div>
    </div>
    <div class="training-contents-section">
        <p>トレーニング日時：<%= f.date_field :training_date %></p>
        <p>セッション：<%= f.select :training_session, (1..99), :include_blank => true %></p>
        <p>トレーニング回数：<%= f.select :training_times, (1..99), :include_blank => true %></p>
        <p>ステータス：<%= f.select :training_status, {"開始" => "開始", "トレーニング中" => "トレーニング中", "完了" => "完了" }, :include_blank => true %></p>
        <p>散歩回数／1日：<%= f.select :training_dogwalk_times, (1..9), :include_blank => true %>回</p>
        <p>散歩時間（合計）：<%= f.select :training_dogwalk_hours, (1..9), :include_blank => true %>時間</p>
        <p>トレーニング詳細：<%= f.text_area :training_detail, :size => "60x10" %></p>
    </div>

    <div>
        <%= f.label :training_image_path1, 'Upload training image...' %><br>
        <%= image_tag @dogkarte.training_image_path1.thumb.url if @dogkarte.training_image_path1? %>
        <%= f.file_field :training_image_path1 %>
        <%= f.hidden_field :training_image_path1_cache %>
    </div>
    <div>
        <%= f.label :training_image_path2, 'Upload training image...' %><br>
        <%= image_tag @dogkarte.training_image_path2.thumb.url if @dogkarte.training_image_path2? %>
        <%= f.file_field :training_image_path2 %>
        <%= f.hidden_field :training_image_path2_cache %>
    </div>
    <div>
        <%= f.label :training_image_path3, 'Upload training image...' %><br>
        <%= image_tag @dogkarte.training_image_path3.thumb.url if @dogkarte.training_image_path3? %>
        <%= f.file_field :training_image_path3 %>
        <%= f.hidden_field :training_image_path3_cache %>
    </div>
    <div>
        <%= f.label :training_image_path4, 'Upload training image...' %><br>
        <%= image_tag @dogkarte.training_image_path4.thumb.url if @dogkarte.training_image_path4? %>
        <%= f.file_field :training_image_path4 %>
        <%= f.hidden_field :training_image_path4_cache %>
    </div>
    <%= f.submit "新規登録" %>
    <%= link_to "キャンセル", :back %>

<% end %>