<h1>Dogkartes#new</h1>
<p>Find me in app/views/dogkartes/new.html.erb</p>
<%= form_for [@dog, @dogkarte], html: { class: 'form-horizontal' } do |f| %>
    <div >
        <div class="dog-image">
            <img src="">画像</img>
        </div>
        <div>
            <p>オーナー名：<%= @owner.owner_lastname %><%= @owner.owner_firstname %></p>
            <p>犬名：<%= @dog.dog_name %></p>
            <p>犬年齢：
                <%= (Date.today.try(:strftime, "%Y%m%d").to_i - @dog.dog_birthday.try(:strftime, "%Y%m%d").to_i) / 10000 %>
            </p>
            <p>犬種：<%= @dog.dog_breed %></p>
            
            <% if false %>
            <p><%= f.text_field :dog_name %>犬名：ココ</p>
            <p><%= f.text_field :dog_age %>年齢：2歳1カ月</p>
            <p><%= f.text_field :dog_breed %>犬種：ボストンテリア</p>
            <% end %>
        </div>
    </div>
    <div class="training-contents-section">
        <p><%= f.date_field :training_date %>トレーニング日時：2017/09/08</p>
        <p><%= f.select :training_session, (1..99), :include_blank => true %>セッション：1</p>
        <p><%= f.select :training_times, (1..99), :include_blank => true %>トレーニング回数：2</p>
        <p><%= f.select :training_status, {"開始" => "開始", "トレーニング中" => "トレーニング中", "完了" => "完了" }, :include_blank => true %>ステータス：トレーニング中</p>
        <p><%= f.select :training_dogwalk_times, (1..9), :include_blank => true %>散歩回数／1日：回</p>
        <p><%= f.select :training_dogwalk_hours, (1..9), :include_blank => true %>散歩時間（合計）：時間</p>
        <p><%= f.text_area :training_detail, :size => "60x10" %>トレーニング詳細：</p>
    </div>

    <div class="dog-image-section3">
        <div class="dog-image">
            <img src="">画像</img>
        </div>
    </div>
    <%= f.submit "新規登録" %>
    <%= link_to "キャンセル", :back %>

<% end %>