<h1>Owners#edit</h1>
<p>Find me in app/views/owners/edit.html.erb</p>
<%= form_for @owner, html: { class: 'form-horizontal' } do |f| %>
        <div>
            <P>オーナー名：
                <%= f.text_field :owner_lastname %>
                <%= f.text_field :owner_firstname %>
            </P>
            <P>生年月日：
                <%= f.date_field :owner_birthday %>
            </P>
            <p>年齢：
                <%= (Date.today.try(:strftime, "%Y%m%d").to_i - f.object.owner_birthday.try(:strftime, "%Y%m%d").to_i) / 10000 %>
            </p>
            <p>職業：
                <%= f.text_field :job %>
            </p>
            <p>住所：
            </p>
            <p>郵便番号：
                <%= f.text_field :zipcode1 %>-
                <%= f.text_field :zipcode2 %>
            </p>
            <p>都道府県：
                <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, :include_blank => true %>
            </p>
            <p>
                市区町村：
                <%= f.text_field :city %>
            </p>
            <p>
                番地・建物名：
                <%= f.text_field :street %>
            </p>
            <p>
                電話番号：
                <%= f.telephone_field :phone_number1 %>
                <%= f.telephone_field :phone_number2 %>
                <%= f.telephone_field :phone_number3 %>
            </p>
        </div>
        <div class="owner-item-section">
            <p>家族構成：生年月日：</p>
                <%= f.select :family1, { "配偶者" => "配偶者", "子供" => "子供", "父" => "父", "母" => "母", "兄弟・姉妹" => "兄弟・姉妹", "祖父" => "祖父", "祖母" => "祖母", "その他" => "その他" }, :include_blank => true %>
                <%= f.date_field :family1_birthday %><br>
                <%= f.select :family2, { "配偶者" => "配偶者", "子供" => "子供", "父" => "父", "母" => "母", "兄弟・姉妹" => "兄弟・姉妹", "祖父" => "祖父", "祖母" => "祖母", "その他" => "その他" }, :include_blank => true %>
                <%= f.date_field :family2_birthday %><br>
                <%= f.select :family3, { "配偶者" => "配偶者", "子供" => "子供", "父" => "父", "母" => "母", "兄弟・姉妹" => "兄弟・姉妹", "祖父" => "祖父", "祖母" => "祖母", "その他" => "その他" }, :include_blank => true %>
                <%= f.date_field :family3_birthday %><br>
                <%= f.select :family4, { "配偶者" => "配偶者", "子供" => "子供", "父" => "父", "母" => "母", "兄弟・姉妹" => "兄弟・姉妹", "祖父" => "祖父", "祖母" => "祖母", "その他" => "その他" }, :include_blank => true %>
                <%= f.date_field :family4_birthday %><br>
                <%= f.select :family5, { "配偶者" => "配偶者", "子供" => "子供", "父" => "父", "母" => "母", "兄弟・姉妹" => "兄弟・姉妹", "祖父" => "祖父", "祖母" => "祖母", "その他" => "その他" }, :include_blank => true %>
                <%= f.date_field :family5_birthday %><br>
            <p>住居：
                <%= f.select :house_type, { "個別住宅" => "個別住宅", "集合住宅" => "集合住宅" } ,:include_blank => true %>
            </p>
            <p>居住階：
                <%= f.select :house_floor, (1..99) ,:include_blank => true %>
            </p>
            <P>メイン世話役：
                <%= f.select :main_manager, { "本人" => "本人", "配偶者" => "配偶者", "子供" => "子供", "父" => "父", "母" => "母", "兄弟・姉妹" => "兄弟・姉妹", "祖父" => "祖父", "祖母" => "祖母", "その他" => "その他" } ,:include_blank => true %>
            </P>
        </div>
        <div class="owner-item-section">
            <p>備考：
                <%= f.text_area :notes, :size => "60x10" %>
            </p>
        </div>
        <%= f.submit "編集" %>
        <%= link_to "キャンセル", :back %>
        <%= link_to "ドッグ登録", new_owner_dog_path(@owner) %>
<% end %>