<h1>Owners#show</h1>
<p>Find me in app/views/owners/show.html.erb</p>
<div>
    <P>犬名：
        <% @owner.dogs.each do |dog| %>
            <%= dog.dog_name %>
        <% end %>
    </P>
    <P>オーナー名：
        <%= "#{@owner.owner_lastname}#{@owner.owner_firstname}" %>
    </P>
    <P>生年月日：
        <%= @owner.owner_birthday.strftime("%Y/%m/%d") if @owner.owner_birthday? %>
    </P>
    <p>年齢：
        <%= "#{(Date.today.try(:strftime, "%Y%m%d").to_i - @owner.owner_birthday.try(:strftime, "%Y%m%d").to_i) / 10000}歳" if @owner.owner_birthday? %>
    </p>
    <p>職業：
        <%= @owner.job %>
    </p>
    <p>住所：
    </p>
    <p>郵便番号：
        <%= @owner.zipcode1 %>-
        <%= @owner.zipcode2 %>
    </p>
    <p>都道府県：
        <%= JpPrefecture::Prefecture.find(@owner.prefecture_code).name if @owner.prefecture_code? %>
    </p>
    <p>
        市区町村：
        <%= @owner.city %>
    </p>
    <p>
        番地・建物名：
        <%= @owner.street %>
    </p>
    <p>
        電話番号：
        <%= @owner.phone_number1 %>
        <%= @owner.phone_number2 %>
        <%= @owner.phone_number3 %>
    </p>
</div>
<div class="owner-item-section">
    <p>家族構成：</p>
        <p>
            <% if @owner.family1? %>
                <%= @owner.family1%>
                <%= "#{(Date.today.try(:strftime, "%Y%m%d").to_i - @owner.family1_birthday.try(:strftime, "%Y%m%d").to_i) / 10000}歳" %>
            <% end %>
        </p>
        <p>
            <% if @owner.family2? %>
                <%= @owner.family2%>
                <%= "#{(Date.today.try(:strftime, "%Y%m%d").to_i - @owner.family2_birthday.try(:strftime, "%Y%m%d").to_i) / 10000}歳" if @owner.family2_birthday? %>
            <% end %>
        </p>
        <p>
            <% if @owner.family3? %>
                <%= @owner.family3%>
                <%= "#{(Date.today.try(:strftime, "%Y%m%d").to_i - @owner.family3_birthday.try(:strftime, "%Y%m%d").to_i) / 10000}歳" if @owner.family3_birthday? %>
            <% end %>
        </p>
        <p>
            <% if @owner.family4? %>
                <%= @owner.family4%>
                <%= "#{(Date.today.try(:strftime, "%Y%m%d").to_i - @owner.family4_birthday.try(:strftime, "%Y%m%d").to_i) / 10000}歳" if @owner.family4_birthday? %>
            <% end %>
        </p>
        <p>
            <% if @owner.family5? %>
                <%= @owner.family5%>
                <%= "#{(Date.today.try(:strftime, "%Y%m%d").to_i - @owner.family5_birthday.try(:strftime, "%Y%m%d").to_i) / 10000}歳" if @owner.family5_birthday? %>
            <% end %>
        </p>
    <p>住居：
        <%= @owner.house_type %>
    </p>
    <p>居住階：
        <%= @owner.house_floor %>
    </p>
    <P>メイン世話役：
        <%= @owner.main_manager %>
    </P>
</div>
<div class="owner-item-section">
    <p>備考：
        <%= @owner.notes %>
    </p>
</div>
<div>
<%= link_to "編集", edit_owner_path(@owner) %>
<%= link_to "キャンセル", :back %>
</div>
