<h1>Dogs#show</h1>
<p>Find me in app/views/dogs/show.html.erb</p>
    <div>
        <%= image_tag @dog.dog_image_path.thumb.url %>
    </div>
    <div>
        <p>名前：
            <%= @dog.dog_name %>
        </p>
        <p>犬種：
            <%= @dog.dog_breed %>
        </p>
        <p>生年月日：
            <%= @dog.dog_birthday.strftime("%Y/%m/%d") if @dog.dog_birthday? %>
        </p>
        <p>年齢：
            <%= "#{(Date.today.try(:strftime, "%Y%m%d").to_i - @dog.dog_birthday.try(:strftime, "%Y%m%d").to_i) / 10000}歳" if @dog.dog_birthday? %>
        </p>
        <p>オーナー：
            <%= "#{@dog.owner.owner_lastname}#{@dog.owner.owner_firstname}" %>
        </p>
        <p>食事タイプ：
            <%= @dog.food_type %>
        </p>
        <p>食事回数／1日：
            <%= @dog.food_times %>
        </p>
        <p>好きなおやつ：
            <%= @dog.favorite_snack1 %>
            <%= @dog.favorite_snack2 %>
            <%= @dog.favorite_snack3 %>
        </p>
        <p>好きなおもちゃ：
            <%= @dog.favorite_toy1 %>
            <%= @dog.favorite_toy2 %>
            <%= @dog.favorite_toy3 %>
        </p>
        <p>散歩回数／１日：
            <%= @dog.dogwalk_times %> 回
        </p>
        <p>散歩時間／１回：
            <%= @dog.dogwalk_hours %>  時間
        </p>
        <p>性格：
            <p>人への興味・反応
                <%= @dog.character1 %>
            </p>
            <p>好奇心
                <%= @dog.character2 %>
            </p>
            <p>服従心
                <%= @dog.character3 %>
            </p>
            <p>人との協調性
                <%= @dog.character4 %>
            </p>
            <p>人への愛情表現
                <%= @dog.character5 %>
            </p>
            <p>適応能力
                <%= @dog.character6 %>
            </p>
            <p>興奮性
                <%= @dog.character7 %>
            </p>
            <p>集中力
                <%= @dog.character8 %>
            </p>
        </p>
        <p>病歴・アレルギー：
            <p><%= @dog.clinical_history1 %></p>
            <p><%= @dog.clinical_history2 %></p>
            <p><%= @dog.clinical_history3 %></p>
            <p><%= @dog.clinical_history4 %></p>
            <p><%= @dog.clinical_history5 %></p>
        </p>
        <p>コマンド言語：
            <%= @dog.command_language %>
        </p>
        <p>基本コマンド：
            <p>おすわり
                <%= @dog.basic_command1 ? '○':'×' %>
            </p>
            <p>ふせ
                <%= @dog.basic_command2 ? '○':'×' %>
            </p>
            <p>まて
                <%= @dog.basic_command3 ? '○':'×' %>
            </p>
            <p>おいで
                <%= @dog.basic_command4 ? '○':'×' %>
            </p>
            <p>たって
                <%= @dog.basic_command5 ? '○':'×' %>
            </p>
            <p>ついて
                <%= @dog.basic_command6 ? '○':'×' %>
            </p>
        </p>
        <p>応用コマンド：
            <%= @dog.applied_command1 %>
            <%= @dog.applied_command2 %>
            <%= @dog.applied_command3 %>
            <%= @dog.applied_command4 %>
            <%= @dog.applied_command5 %>
        </p>
        <p>備考：
            <%= @dog.notes %>
        </p>
    </div>
    <div>
        <%= link_to "編集", edit_dog_path(@dog.id) %>
        <%= link_to "キャンセル", :back %>
        <%= link_to "カルテ登録", new_dog_dogkarte_path(@dog) %>
        <%= link_to "カルテ一覧", dog_dogkartes_path(@dog) %>
    </div>
