<div class='center jumbotron'>
  <h1>DogTraining Management System</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
    <div class='form-group'>
      <div class='col-md-4 col-md-offset-2 col-lg-2 col-lg-offset-4'>
        <%= f.label :email, 'E-mail：', class: 'control-label' %>
      </div>
      <div class='col-md-6 col-lg-6'>
        <%= f.email_field :email, autofocus: true , class: 'form-control', style: 'width:auto' %>
      </div>
    </div>
    <div class='form-group'>
      <div class='col-md-4 col-md-offset-2 col-lg-2 col-lg-offset-4'>
        <%= f.label :password, 'Password：',  class: 'control-label'%>
      </div>
      <div class='col-md-6 col-lg-6'>
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control', style: 'width:auto' %>
      </div>
    </div>
    <div class='actions'>
      <%= f.submit 'ログイン', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<%= render 'devise/shared/links' %>
